body {
  background-color: #D2D7D3;
  padding-bottom: 2em;
}

td {
border: 1px solid black;
height: 50px;
width: 50px;
}

.spot {
  font-size: 4em;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  text-align: center !important;
}

.top {
}

.bottom {
}

.left {
}

.right {
}
